<div class="mt-4">
  <form method = "POST" action="">
    <div class="mb-3">
      <div class="form-group">
        <label for="exampleInputEmail1" class="form-label">Tu khoa</label>
        <input type="text" name ='q' class="form-control" id="search-input" placeholder="Nhap tu khoa ...">
        <select  class="form-control" name = "gender">
          <option>Chon gioi tinh</option>
          <option value="male">Nam</option>
            <option value="female">Nu</option>
        </select>
      </div>
    
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>